<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Login Page</h1>

    <form method="POST">

        <input type="text" name="username" placeholder="Username">
        <br><br>

        <input type="password" name="password" placeholder="Password">
        <br><br>

        <button type="submit">Login</button>

    </form>
</body>
</html>